.SideBarRow {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.SideBarRow:hover {
    border-radius: 10px;
    background-color: lightgray;
}

.SideBarRow>h4 {
    margin-left: 20px;
    font-weight: 600px;
}

.SideBarRow>.MuiSvgIcon-root {
    font-size: xx-large;
    color: #2e81f4;
}